<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsf.spring.aop.dao.UserDao">


    <insert id="insert" parameterType="com.wsf.spring.aop.model.User">
        insert into t_user (username, age)
        values (#{user.username}, #{user.age})
    </insert>
</mapper>
